@inherits LayoutComponentBase

<PageTitle>ChatBot</PageTitle>

<div class="page">
    @*  <div class="sidebar">
    <NavMenu />
    </div>
    *@
    <main>

        <article>
            @Body
        </article>
    </main>
</div>

<style>
    .container {
        max-width: 100%;
    }
</style>